body {
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.styleSigns {
 animation-name: example;
 animation-duration: 3s;
}
.styleSign {
 animation-name: example1;
 animation-duration: 3s;
}

@keyframes example {
 from {
  opacity: 0;
 }
 to {
  opacity: 1;
 }
}

@keyframes example1 {
 from {
  opacity: 0;
 }
 to {
  opacity: 1;
 }
}
